// コンテナ
.instagram-container{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1px;
}
 
.instagram-item{
  width: 50%;
  padding: 1px;
}
 
@media screen and (min-width: 768px){
  .instagram-item {
      width: 25%;
  }
}
 
a.instagram-card{
  display: block;
  position: relative;
  margin-bottom: 16px;
}
 
.instagram-card__img{
  max-width: 100%;
  height: auto;
  display: block;
}
 
// いいね数、コメント数
.instagram-card__badge{
  position: absolute;
  top: 8px;
  left: 8px;
  display: flex;
  align-items: center;
  line-height: 1;
  font-size: 14px;
  color: #ffffff;
}
 
// いいねアイコン、コメントアイコン
.instagram-icon{
  display: block;
  width: 20px;
  height: 20px;
}
 
// コメント
.instagram-card__comment{
  padding-left: 8px;
  padding-right: 8px;
  font-size: 1.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}